.form {
  button {
    background-color: #0091B2 !important;
    border-color: #0091B2 !important;

  }

  input, select {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: #3D3D40;
    color: #3D3D40 !important;
    padding: 20px !important;
    font-weight: 200 !important;

  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #3D3D40 !important;

  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #3D3D40 !important;

  }

}
