#palestras {
  background-color: #ffffff;
  min-height: 100vh;
  padding-bottom: 50px;

  .palestras {
    border: 1px solid red;
  }

  #palestra {
    background-color: $primary-color;
    width: 175px;
    height: 50px;
    margin-top: 50px;
    position: relative;
    padding-top: 3px;

    p {
      position: absolute;
      font-size: 33px;
      margin-left: -12px;
      color: $tertiary-color;
      font-weight: bold;

    }

    img {
      width: 25px;
      vertical-align: baseline;

    }

  }

  .col-md-8 {
    h1 {
      font-size: 2rem;
      margin-top: 30px;
      color: $tertiary-color;

    }

  }

  .cartao {
    background-color: palegoldenrod;
    padding: 20px;
    margin: 50px 25px;

    img {
      margin-bottom: 50px;
      height: 350px;

    }

    .col-md-6 {
      display: flex;
      justify-content: center;

    }

    .btn {
      border-radius: 0;
      color: $tertiary-color;
      background-color: $primary-color;
      border-color: $primary-color;
      font-weight: 200 !important;

      i {
        margin-right: 10px;

      }

    }

  }

  .cartao-header {
    background-color: none;
    .container {
      width: auto;
      background-color: #3D3D40;
      margin: 0 30px;
      padding: 25px;

      h4 {
        color: $primary-color;
        font-weight: 100;
      }

      h2 {
        color: #ffffff;
        font-weight: bolder;
        font-size: 1.7rem !important;
      }

      h4, h2 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .cartao-content {
    position: relative;

    a {
      display: block;

      img {
        margin-top: -5px !important;

      }

    }

    .mask {
      position: absolute;
      opacity: 0;
      transition: 0.01ms;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-top:-5px;
      width: 100%;
      background-color: rgba(37, 37, 37, 0.5);
      transition: 1s;

    }

    a:hover > .mask {
      opacity: 1;
    }
  }

}
